*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    max-width: 100%;
    max-height: 100%;
}

.container{
    margin: auto;
    width: 1000px;
    height: 400px;
    display: flex;

}
#avatar{
    border: 1px solid #696666;
}

.block1{
    padding: 10px;
    width: 600px;
}

.block2{
    padding: 10px;
    width: 600px;
  
}
.Folows{
    display: flex;
    justify-content:space-around ;
}

.buttons{
    
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;

}

.buttons button{
    padding: 5px;
 
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: #b8df92 ;
    color: #696666;
}

.buttons button:hover{
    background-color: #93d84e;
    color: white;
}